body,
html,
ul,
li,
ol,
p {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

ul,
li,
ol {
  list-style: none;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #d0d0d9;
  border-radius: 2px;
}

@media screen and (max-width: 1024px) {
  .el-overlay-message-box {
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
  .el-dialog {
    width: 90% !important;
  }
}